<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<h2>My Class</h2>
<body>
  I offer private English classes for all levels and age groups.  I teach
  everything from Business English all the way down to Beginner's English.
  I offer hands on teaching with an emphasis in conversational skills, but
  can obviously cater to your specific needs.  I present and teach in person
  but like to share materials online.  This website helps with that but for
  full access to materials an email account or dropbox account is preferred.
</body>
<h2>My Credentials</h2>
<body>
  - TEFL certified <br>
  - BS in Industrial Engineering from <a href="https://www.mst.edu">Missouri University of Science & Technology</a> <br>    
  - 2 Years as an Industrial Engineer for <a href="http://www.ford.com">Ford Motor Company</a> <br> 
  - Previous engineering/management roles - <a href="http://www.utc.com">UTC</a>, <a href="http://www.packaging-services.com">Span Packaging</a>, and 
  <a href="http://www.asi.com">Automatic Systems Inc</a><br> 
  - Teaching professionally since December 2013

<body>