<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2>
  email - <a href="mailto:shorty2426@gmail.com">Scott Kalwei</a>.<br> 
  czech phone - +420-731-976-842<br> 
  skype - scott.kalwei1 <br> 
  <a href="https://www.facebook.com/scott.kalwei">Facebook</a> <br> 
  <a href="http://www.linkedin.com/pub/scott-kalwei/18/aba/64b">Linkedin</a> <br> 
  <a href="http://scottkalwei.wordpress.com/">My Blog</a> <br>
 </h2>
