<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Thanks for visiting my website!  If your interested in getting information
  about a class please <%=link_to "Sign up", signup_path%> and write a message.  If you prefer, you can just send me
  an email at <a href="mailto:shorty2426@gmail.com">Scott Kalwei</a>.  Easy as that :).  <%=link_to "Contact Page", contact_path%> holds all my
  contact information.  If you want more information then click on <%=link_to "About", about_path%> and read my credentials.
</p>