<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>    
      
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
     
    </aside>
    
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Scott Kalwei's English Teaching</h1>

    <h2>
      Do you want to learn English?  <%=link_to "Sign up", signup_path%> and get enrolled and participate in my hands on
      and online interactive classes!  Want to learn more?  Click <%=link_to "About", about_path%> and see what I offer
      and my credentials.  Want another way to contact me?  Click on my <%=link_to "Contact Page", contact_path%>.<br>     
      Thanks! I look forward to working with you.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>