<footer class="footer">
  <small>
  	 <%= link_to "Scott Kalwei English Tutoring",   root_path %>
    
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>

    </ul>
  </nav>
</footer>